.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.output-choice {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: lightcyan;
}

.ABG-graph-container {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: lightcyan;
    background-color: #000;
}


.quicksand {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}