.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

.output-choice {
    font-size: 12px;
    font-family: "IBM Plex Mono", monospace;
    color: #000000;
}

.ABG-graph-container {
    font-size: 12px;
    font-family: "IBM Plex Mono", monospace;
    color: #000;
    background-color: #FFFFFF;
}
